<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>cadastro</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cadastro</h1>
    <form action="/cadastro" method="post">
    <p>
        <select name="marca">
            <option>BMW</option>
            <option>FIAt</option>
            <option>CHEVROLET</option>
        </select>
    </p>

    <p>
      Modelo: <input name="model" type="text"/>
    </p>

    <p>
      Modelo: <input name="number" type="number"/>
    </p>
    <p>
      <button type="submit">Enviar</button>
    </p>
    </form>
  </body>
</html>
